NEXT_PUBLIC_GOOGLE_ANALYTICS=

# Upstream JNTUK API
JNTUK_API_ORIGIN=http://185.216.203.209:8088
JNTUK_API_BASE_URL=http://185.216.203.209:8088/api
JNTUK_API_KEY=change-this-api-key
NEXT_PUBLIC_JNTUK_API_KEY=change-this-api-key
